@tailwind base;
@tailwind components;
@tailwind utilities;

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active {
  color: white;
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1)) /* #1d4ed8 */;
}

.videoplayerCard {
  flex-basis: 70%;
}

.lessonList {
  flex-basis: 30%;
}

.plyr {
  width: 100% !important;
  height: 80vh !important;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media (min-width: 320px) {
  /* Applies on large screens (desktop) */

  .plyr {
  width: 100% !important;
  height: fit-content !important;
}
}

@media (min-width: 1024px) {
  /* Applies on large screens (desktop) */

.lessonSectionDesktop {
    width: 30%;
    margin-left: 75%;
    margin-right: -24px;
    border: 3px solid #0094EA;
}

  .videoplayerCardDesktop {
    position: fixed;
    top: 66px;
    left: 10px;
    width: 70%;
    height: 85vh;
    overflow-y: scroll;
  }


  /* Scrollbar Styling for Fixed Section */
.videoplayerCardDesktop::-webkit-scrollbar {
  width: 8px;
}

.videoplayerCardDesktop::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 10px;
}

.videoplayerCardDesktop::-webkit-scrollbar-thumb {
  background: #1d4ed8; /* Blue color */
  border-radius: 10px;
}

.videoplayerCardDesktop::-webkit-scrollbar-thumb:hover {
  background: #1e40af; /* Darker blue on hover */
}

/* For Firefox */
.videoplayerCardDesktop {
  scrollbar-color: #1d4ed8 #f1f1f1;
  scrollbar-width: thin;
}


  .plyr {
  width: 100% !important;
  height: 78vh !important;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* margin: 0 auto; */
}
}
