@tailwind base;
@tailwind components;
@tailwind utilities;

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active{
  color: white;
  --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1)) /* #1d4ed8 */;
}

.videoplayerCard{
flex-basis: 70%;
}

.lessonList{
  flex-basis: 30%;
}


/* .S9gUrf-YoZ4jf{
    position: static;
    padding-left: 90px;
    padding-top: 5px;
} */